%p#notice= notice
%h1 Tweets
%table#tweets
  %thead
    %tr
      %th Handle
      %th Content
      %th Created at
      %th{colspan: '2'}
  %tbody
    - @tweets.each do |tweet|
      %tr.tweet-row{data: {tweet_id: tweet.id, href: url_for(tweet)}}
        %td= tweet.handle
        %td= tweet.content
        %td= tweet.created_at
        %td= link_to 'Show', tweet
%br/
= link_to 'New Tweet', new_tweet_path
